#sidebar{
  position: fixed;
  width: 400px;
  height: 1500px;
  background: #000000;
  opacity: 0.9;
  left: -400px;
  padding-top: -50px;
  margin-top: 0px;

  transition: all 300ms;
}
#sidebar .toggle-button{
  position: absolute;
  left: 522px;
}
#sidebar.active{
  left: 0px;
  margin-top: -50px;
}
.menu_link>a{
  color: white;
  font-size: 40px;
}
.menu_link{
  padding-top: 100px;
  padding-left: 50px;
}
.menu_logo{
  display: block;
  padding-left: 50px;
  margin-top: 50px;
}
//.menu_box{
//  display: grid;
//  grid-template-rows: 2fr 1fr;
//}